
body{
    background-color: darkslategrey;
    color: white;
    font-family: "Jersey 15", sans-serif;
    font-style: normal;
    font-weight: 400;
}
a{
    font-style: normal;
    color: white;
    text-decoration: none;
}